html, body {
   margin: 0;
   padding: 0;
}

.container{
   display: flex;
   width: 100%;
   height: 100vh;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(to right top, #0087e0, #d41616);
}
.tulisan {
   background-image: linear-gradient(to right, #2ac400, #faff07);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
}